In [ ]:
from preprocess import *

## in preprocess our we had to split our dataset before we imputed ' ' the monthly charges column with the mean and then cast the column as float.

In [23]:
train_telco,validate_telco,test_telco=final_telco_split()
df=train_telco



df.info()

               Length  Width
Prepared Data    7043     30
Train            4225     30
Validate         1409     30
Test             1409     30

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4225 entries, 5911 to 3586
Data columns (total 30 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   tenure                                 4225 non-null   int64
 1   monthly_charges                        4225 non-null   float64
 2   total_charges                          4216 non-null   float64
 3   gender_encoded                         4225 non-null   int64
 4   partner_encoded                        4225 non-null   int64
 5   dependents_encoded                     4225 non-null   int64
 6   phone_service_encoded                  4225 non-null   int64
 7   paperless_billing_encoded              4225 non-null   int64
 8   churn_encoded                          4225 non-null   int64
 9   multiple_lines_No_phone_service        4225 non-null   int64
 10  multiple_lines_Yes                     4225 non-null   int64
 11  online_security_No_internet_service    4225 non-null   int64
 12  online_security_Yes                    4225 non-null   int64
 13  online_backup_No_internet_service      4225 non-null   int64
 14  online_backup_Yes                      4225 non-null   int64
 15  device_protection_No_internet_service  4225 non-null   int64
 16  device_protection_Yes                  4225 non-null   int64
 17  tech_support_No_internet_service       4225 non-null   int64
 18  tech_support_Yes                       4225 non-null   int64
 19  streaming_tv_No_internet_service       4225 non-null   int64
 20  streaming_tv_Yes                       4225 non-null   int64
 21  streaming_movies_No_internet_service   4225 non-null   int64
 22  streaming_movies_Yes                   4225 non-null   int64
 23  contract_type_One_year                 4225 non-null   int64
 24  contract_type_Two_year                 4225 non-null   int64
 25  internet_service_type_Fiber_optic      4225 non-null   int64
 26  internet_service_type_None             4225 non-null   int64
 27  payment_type_Credit_card_(automatic)   4225 non-null   int64
 28  payment_type_Electronic_check          4225 non-null   int64
 29  payment_type_Mailed_check              4225 non-null   int64
dtypes: float64(2), int64(28)
memory usage: 1023.2 KB

In [27]:



cols=set(df.columns)
numcols={'tenure', 'monthly_charges', 'total_charges'}
catcols=cols-numcols
cat_wo_churn=catcols-{'churn_encoded'}
cat_vs_num=set(product(numcols,catcols))
no_churn_vs=set(product(numcols,catcols))
numcols_2_combos=set(combinations(numcols,2))
catcols_2_combos=set(combinations(cat_wo_churn,2))